*.pyc
*~
\#*\#
dmg
*.dmg
*.gz
*.zip
*.o
*.so
*.svn
.DS_Store
*.sh
gpx.exe
osx_obj
linux_obj
win32_obj
win64_obj
cscope.out
tags
*.egg-info
build
dist
machines
stamp-h1
Makefile
s3gdump
config.log
config.status
autom4te.cache
.deps
